# Database configuration
db_user=
db_password=
db_name=

# Redis configuration
redis_password=

# LLM configuration
gemini_api_key=

# RAG API URL
rag_api_url=

# Core Platform API configuration
core_api_url=
core_api_key=
