# Database configuration
db_user=
db_password=
db_name=

# Redis configuration
redis_password=

# LLM configuration
gemini_api_key=

# RAG API URL
rag_api_url=

# Core API URL
core_api_url=

# Key for internal service-to-service communication (must match the key expected by the other services)
internal_secret_between_services=

# GCP Pub/Sub Auth (Matches the Push Subscription Endpoint and Service Account)
pubsub_audience=
pubsub_invoker_email=
